p.sortby-p {
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 10px;
  }

  .sort-btn {
    margin-top: 10px;
    margin-left: 5px;
    background-color: #009cf0;
    border-radius: 10px;
  }

  .sort-bar {
    display: flex;
    justify-content: center;
  }

  