body {
  text-align: left;
  background-color: rgb(255, 242, 200);
}

.header {
  text-align: center;
  color: red;
  background-color: rgb(0, 0, 0);
  border: 3px solid red;
  text-shadow:
   -1px -1px 0 rgb(255, 255, 255),  
    1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255),
     1px 1px 0 rgb(255, 255, 255);
}

.header-login {
  color: white;
  text-shadow: none;
  text-align: right;
  
  padding-right: 20px;
  
}


/* components */
.nav-bar {
  margin: 5px;
  
  text-align: left;
}

.select-box {
  margin-bottom: 10px
  
}
.sortby-p {
  text-align: center;
  margin-bottom: 0px;
}

.sort-btn {
 padding: 7px;
 margin-bottom: 15px;
}

/* Articles */


ul {
  list-style-type: none;
  padding: 0px;
}


.article-comments {
  margin: 5px;
}

.articles-li {
  border: 2px solid;
  background-color: white;
  margin: 20px;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
}

.sing-art-h3 {
margin-left: 20px;
}

.sing-art-li {
  border: 2px solid;
  background-color: white;
  margin: 20px;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
}

.articles-topic {
  color:black;
  font-weight: bold;
}

.sort-btn {
  margin-top: 10px;
  margin-left: 5px;
  background-color: #009cf0;
  border-radius: 10px;
}

.sort-bar {
  display: flex;
  justify-content: center;
  
}
/* comments */

.comments-card {
  border: 2px solid;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  font-size: 12px;

}

.votes-btn {
  padding: 5px;
  margin: 5px;
  background-color: #009cf0;
  border-radius: 10px;
}

.textarea-box {
  border:0px;
  display: flex;
  justify-content: center;
  margin-left: 25px;
  margin-top:10px;
}

.post-button {
  margin-left: 25px;
  padding: 5px;
  background-color: #009cf0;
  border-radius: 10px;
}

.post-cmnt-label {
  margin-left: 25px;
}

.del-btn {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #009cf0;
  border-radius: 10px;
}

/* footer */
.footer {
  text-align: center;
  color: red;
  font-size: 10px;
  background-color: rgb(0, 0, 0);
  padding: 5px;
}